<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: Verdana;
            color: black; /* Changé de #aaaaaa à black */
        }

        .menu {
            float: left;
            width: 20%;
            text-align: center;
        }

        .menu a {
            background-color: #ffff;
            padding: 8px;
            margin-top: 7px;
            display: block;
            width: 100%;
            color: black;
            font-weight: bold;
        }
        .menu p {
            color:black !important;
            font-weight: bold;
        }

        .main {
            float: left;
            width: 60%;
            padding: 0 20px;
        }

        .right {
            background-color: #e5e5e5;
            float: left;
            width: 20%;
            padding: 15px;
            margin-top: 7px;
            text-align: center;
        }

        @media only screen and (max-width: 620px) {
            /* For mobile phones: */
            .menu, .main, .right {
                width: 100%;
            }
        }
    </style>
</head>
<body> 

<div style="background-color:#ffff;padding:15px;text-align:center;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfIDznG1Y3VLHWxaOYoihnGgZeQY1_JF9Kjg&s" width="150" height="150">

</div>
<hr size="10" style="background-color:#198754;">
<div style="overflow:auto">

    <div class="main">
       <h2>🚨 Erreur Critique Détectée</h2>
    
    <p><strong>ID:</strong> {{ error.id }}</p>
    <p><strong>Date:</strong> {{ error.date|date('Y-m-d H:i:s') }}</p>
    <p><strong>Message:</strong> {{ error.message }}</p>
    <p><strong>Type:</strong> {{ error.type }}</p>
    <p><strong>Priorité:</strong> {{ error.priority }}</p>
    <p><strong>Projet:</strong> {{ error.projectName }}</p>
    
    <h3>Détails supplémentaires:</h3>
    <p>Des rapports détaillés en format Excel et Word sont joints à cet email.</p>
    
    <hr>
    <p><em>Ce message a été généré automatiquement par le système de monitoring.</em></p>
    </div>

</div>
<br>
<div style="background-color:#198754;text-align:center;padding:10px;margin-top:7px;"><h3 style="color: white;">©️ copyright wiassur</h3></div>

</body>
</html>